<div class="single-comment">
  <p>
    <strong><%= comment.commenter %></strong>
    <%= comment.body %>
  </p>

  <span>
    <%= link_to [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </span>
</div>
<hr>