  <ul>
    <div class="article-container">
      <% @articles.reverse.each do |article| %>
        <div class="article-card">
          <li>
            <span class="card-title"><%= link_to article.title, article %></span>
            <br>
            <span class="card-body"><%= truncate(article.body, :length => 90) %></span>
          </li>
        </div>
    <% end %>
    </div>
  </ul>
