
  <ul>
    <div class="article-container">
      <% @articles.reverse.each do |article| %>
        <div class="article-card">
          <li>
            <%= link_to article.title, article %>
            <br>
            <%= truncate(article.body, :length => 90) %>
          </li>
        </div>
    <% end %>
    </div>
  </ul>
