/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

 :root {
    /* --base-color-1: #09148a;
    --base-color-2: #39d353; */
    --background-1: #ffffff;
    --text-color: #22272d;
    --base-width: 1000px;
  }
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body,
html {
  height: 100%;
  width: 100%;
  max-width: var(--base-width);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: var(--background-1);
  color: var(--text-color);
  margin: auto;
}

nav{
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* max-width: var(--base-width); */
}

li{
    list-style: none;
    text-decoration: none;
}

.article-container{
  /* max-width: var(--base-width); */
  margin: 30px auto;
  padding: 0 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 100px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
    
}
.article-card {
    height: 100px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #d2d2d2;
    transition: transform 0.2s ease-in;
  }